---
import PostList from "@/layouts/PostList.astro";
import { getStaticPostPaths } from "@/sanity/queries/posts";
import { getSingleSeries } from "@/sanity/queries/series";

const series = await getSingleSeries(Astro.params);
const params = Astro.params as { slug: string };
export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  return await getStaticPostPaths(Astro.params);
}
---

<PostList posts={series.posts} type=`series/${params.slug}`>
  <div class="mb-8 flex flex-col items-center justify-center gap-2">
    <h1>{series.title}</h1>
    <p class="w-full md:w-2/3">{series.description}</p>
  </div>
</PostList>
