---
import PostCard from "@/components/PostCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getLatestPosts } from "@/sanity/queries/posts";
const posts = await getLatestPosts();
---

<Layout>
  <div class="flex flex-col items-center justify-center gap-8">
    <div class="flex w-full flex-col items-center gap-2 lg:w-2/3">
      <p>
        Ut sodales nulla eu ligula iaculis placerat. Morbi eget nunc non metus
        elementum feugiat in vel mauris. Integer felis urna, posuere finibus
        cursus ac, ultricies eu tellus. Suspendisse eu turpis varius, luctus
        mauris ut, pulvinar enim. Ut eleifend sit amet massa et tempus. Quisque
        sit amet congue eros. Etiam vel velit arcu. Sed malesuada sapien leo, id
        porttitor neque tempus vitae. Ut id ante nunc.
      </p>
      <p>
        Nullam pharetra molestie lorem. Duis non sapien interdum quam suscipit
        placerat. Suspendisse potenti. Curabitur viverra ligula et ante egestas
        semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque quis dolor id orci tempus mollis vel a erat. Donec tempor
        augue sed lacus rutrum, et imperdiet magna blandit. Pellentesque
        tincidunt sit amet eros at viverra. Morbi in pretium nunc. Cras molestie
        bibendum orci ac molestie. Proin iaculis urna sit amet vestibulum
        lobortis. Pellentesque sed malesuada ante.
      </p>
    </div>
    <div class="flex w-full flex-col items-center">
      <h3 class="mb-2">Latest Stories</h3>
      <ul class="flex w-full flex-wrap items-center gap-2">
        {
          posts.map((post) => (
            <li class="w-full">
              <PostCard
                post={post}
                type={
                  post.category.title === "One Shot"
                    ? `one-shots`
                    : post.series
                      ? `series/${post.series.slug.current}`
                      : "/"
                }
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
