---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { SITE_TITLE } from "../consts";
import "@fontsource-variable/josefin-sans";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<header>
  <nav class="flex items-start justify-between p-4 font-display">
    <div class="flex w-1/5 justify-start">
      <a
        href="/"
        class="group hidden flex-row items-center justify-center gap-2 text-rose-700 duration-200 ease-in-out hover:scale-105 hover:text-rose-600 active:scale-110 active:text-rose-500 active:duration-100 md:flex"
      >
        <div class="flex flex-col items-start justify-start">
          <h3>
            {SITE_TITLE}
          </h3>
          <p class="ml-1 text-[0.6rem] uppercase">from Vul</p>
        </div>
      </a>
      <a
        href="/"
        class="block text-xl text-rose-700 duration-200 ease-in-out hover:scale-105 hover:text-rose-600 active:scale-110 active:text-rose-500 active:duration-100 md:hidden"
      >
        <p class="sr-only">Home</p>
        <Image
          src="/favicon.svg"
          alt="Echoes"
          width={40}
          height={40}
          loading="eager"
          class="h-6 w-6"
        />
      </a>
    </div>
    <div class="flex flex-1 justify-center gap-4">
      <HeaderLink href="/series">Series</HeaderLink>
      <HeaderLink href="/one-shots">One Shots</HeaderLink>
    </div>
    <div class="flex w-1/5 flex-row justify-end gap-2">
      <a
        href="/search"
        class="group text-xl text-rose-700 duration-200 ease-in-out hover:scale-105 hover:text-rose-600 active:scale-110 active:text-rose-500 active:duration-100"
      >
        <p class="sr-only">Search</p>
        <Icon
          name="mdi:search"
          class="h-6 w-6 duration-200 ease-in-out group-hover:scale-105 group-active:scale-110 group-active:duration-100"
        />
      </a>
      <ThemeIcon />
    </div>
  </nav>
</header>
