---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/bitter";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="bg-zinc-100 text-zinc-800 dark:bg-zinc-900 dark:text-zinc-200">
    <Header />
    <main
      class="container mx-auto flex flex-col items-center justify-center p-4 font-body lg:p-8"
    >
      <slot />
    </main>
  </body>
</html>
