---
import FormattedDate from "../components/FormattedDate.astro";
import SanityImage from "@/components/SanityImage.astro";
import Layout from "./Layout.astro";

const { title, publishedAt, mainImage } = Astro.props;
---

<Layout>
  <article
    class="flex w-full flex-col items-center justify-center rounded-xl bg-zinc-100 dark:bg-zinc-900"
  >
    {
      mainImage && (
        <SanityImage
          src={mainImage}
          alt={title}
          width={1000}
          height={250}
          className="rounded-xl w-full"
        />
      )
    }
    <div class="flex w-full flex-col gap-2 py-4">
      <div class="flex flex-col items-center justify-center">
        <h1>{title}</h1>
        <div>
          <FormattedDate date={publishedAt} />
        </div>
      </div>
      <slot />
    </div>
  </article>
</Layout>
