---
import FormattedDate from '../components/FormattedDate.astro';
import SanityImage from '@/components/SanityImage.astro';
import Layout from './Layout.astro';

const { title, publishedAt, mainImage } = Astro.props;
---

<Layout>
	<article class="flex flex-col items-center justify-center rounded-xl bg-zinc-100 dark:bg-zinc-900 w-full">
		{mainImage && <SanityImage src={mainImage} alt={title} width={1000} height={250}  className="rounded-xl w-full" />}
		<div class="py-4 px-8 flex flex-col gap-4 w-full">
			<div class="flex flex-col items-center justify-center">
				<h1 class="text-2xl font-bold">{title}</h1>
				<div>
					<FormattedDate date={publishedAt} />
				</div>
			</div>
			<slot />
		</div>
	</article>
</Layout>
