---
import FormattedDate from '../components/FormattedDate.astro';
import SanityImage from '@/components/SanityImage.astro';
import Layout from './Layout.astro';

const { title, publishedAt, mainImage } = Astro.props;
---

<Layout>
	<article>
			{mainImage && <SanityImage src={mainImage} alt={title} width={1020} height={510} />}
		<div>
			<div>
				<div>
					<FormattedDate date={publishedAt} />
				</div>
				<h1>{title}</h1>
			</div>
			<slot />
		</div>
	</article>
</Layout>
